<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.train2gain.train2gain" >

    <!-- Internet permission and Network state -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Application Properties -->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/app_theme"
        tools:replace="android:fullBackupContent">

        <!-- Activities -->
        <activity android:name=".ui.activity.Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.Registration" />
        <activity android:name=".ui.activity.AddAthleteInfoActivity"/>
        <activity
            android:name=".ui.activity.SyncDataSplashActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".ui.activity.MainActivity" />

        <!-- Cloudinary API metadata-->
        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://441194572561215:5ow_3BSvjWSLuAvDGFz8NpM2cDc@dmec6o2py"/>

    </application>

</manifest>
